:root {
    --grid-size: 50vw;
}

.tile-2    {background-color: #eee4da !important}
.tile-4    {background-color: #ede0c8 !important}
.tile-8    {background-color: #f2b179 !important}
.tile-16   {background-color: #f59563 !important}
.tile-32   {background-color: #f67c5f !important}
.tile-64   {background-color: #f65e3b !important}
.tile-128  {background-color: #edcf72 !important}
.tile-256  {background-color: #edcc61 !important}
.tile-512  {background-color: #edc850 !important}
.tile-1024 {background-color: #edc53f !important}
.tile-2048 {background-color: #edc22e !important}


.tile {
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}