.container, header {
    display: flex;
    justify-content: center;
}
header {
    height: 10%;
    width: 100%;
    align-items: center;
}
body {
    width: 100%;
    height: 100%;
}
.score {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-basis: auto;
    flex-direction: column;
    height: 52px;
    min-width: 84px;

    font-family: Rubik, Arial, system-ui, sans-serif;
    color: rgb(152, 136, 118);
    background-color: rgb(234, 231, 217);
    border: rgb(152, 136, 118) solid;
    border-radius: 14px;
}
.score > .span {
    flex: 0 1 auto;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.2;
    min-width: 0;
}

.grid {
    width: calc(var(--grid-size) + 20px);
    height: calc(var(--grid-size) + 20px);
    background-color: #BAACA0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 5px;
    padding: 5px;
}

.grid > div:not(#game-over) {
    width: calc(var(--grid-size) / 4 );
    height: calc(var(--grid-size) / 4);
    background-color: #afa192;
    
    border-radius: 5px;
}


.grid > div:not(#game-over) > * {
    width: 100%;
    height: 100%;
}
#game-over {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: sepia(10%) blur(3px);
    background-color: rgba(238, 228, 218, 0.5);
    z-index: 100;
    display: flex;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    z-index: -10000;
    

}
#game-over > h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: rgb(119, 110, 101);
    cursor: default;
    font-family: Arial,
        clear sans,
        helvetica neue,
        sans-serif;
}
#game-over > button {
    margin: auto;
    padding: 0px 20px;
    height: 40px;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 700;
    color: rgb(249, 246, 242);
    background-color: rgb(143, 122, 102);
    border: 0px;
    font-family: Arial,
        clear sans,
        helvetica neue,
        sans-serif;
}
.grid > div > div.tile {
    text-align: center;
    vertical-align: middle;
    background-color: grey;
    font-size: 200%;
    font-weight: 900;

    -webkit-user-select: none;
        /* Safari */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* IE10+/Edge */
        user-select: none;
        /* Standard */

    cursor: default;
}


.new-tile {
    animation: pop-in 0.2s ease;
}

@keyframes pop-in {
    0% {
        transform: scale(0.1);
    }

    100% {
        transform: scale(1);
    }
}

.merge-tile {
    animation: merge-pop 0.2s ease;
}

@keyframes merge-pop {
    0% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}