.container, header {
    display: flex;
    justify-content: center;
}
header {
    height: 10%;
    width: 100%;
    align-items: center;
}
body {
    width: 100%;
    height: 100%;
}
.score {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-basis: auto;
    flex-direction: column;
    height: 52px;
    min-width: 72px;

    font-family: Rubik, Arial, system-ui, sans-serif;
    color: rgb(152, 136, 118);
    background-color: rgb(234, 231, 217);
    border: rgb(152, 136, 118) solid;
    border-radius: 14px;
}
.score > .span {
    flex: 0 1 auto;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.2;
    min-width: 0;
}

.grid {
    width: calc(var(--grid-size) + 20px);
    height: calc(var(--grid-size) + 20px);
    background-color: #BAACA0;

    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 5px;
    padding: 5px;
}

.grid > div {
    width: calc(var(--grid-size) / 4 );
    height: calc(var(--grid-size) / 4);
    background-color: #afa192;

    border-radius: 5px;
}


.grid > div > * {
    width: 100%;
    height: 100%;
}
.grid > div > div.tile {
    text-align: center;
    vertical-align: middle;
    background-color: grey;
    font-size: 200%;
    font-weight: 900;

    -webkit-user-select: none;
        /* Safari */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* IE10+/Edge */
        user-select: none;
        /* Standard */

    cursor: default;
}


.new-tile {
    animation: pop-in 0.2s ease;
}

@keyframes pop-in {
    0% {
        transform: scale(0.1);
    }

    100% {
        transform: scale(1);
    }
}

.merge-tile {
    animation: merge-pop 0.2s ease;
}

@keyframes merge-pop {
    0% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}