:root {
    --grid-size: 20vw;
}

.grid {
    width: calc(var(--grid-size) + 20px);
    height: calc(var(--grid-size) + 20px);
    background-color: #BAACA0;

    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 5px;
    padding: 5px;
}

.grid > div {
    width: calc(var(--grid-size) / 4 );
    height: calc(var(--grid-size) / 4);
    background-color: #CDC0B5;

    border-radius: 5px;
}

.grid > div > * {
    width: 100%;
    height: 100%;
}
.grid > div > div.tile {
    background-color: darkorange;
    text-align: center;
    vertical-align: middle;
    font-size: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
}


.new-tile {
    animation: pop-in 0.2s ease;
}

@keyframes pop-in {
    0% {
        transform: scale(0.1);
    }

    100% {
        transform: scale(1);
    }
}

.merge-tile {
    animation: merge-pop 0.2s ease;
}

@keyframes merge-pop {
    0% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}